// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';
@import 'subsections';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

.heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }
}

//blue-box
.blue-box {
  background-color: $govuk-blue;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18pt;

  a{
    color: $white;

    &:visited{
      color: $white;
    }

    &:hover {
      color: $focus-colour;
    }
  }
}


li {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 10px;
}

ol {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    list-style-type: decimal;
}

ul {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    list-style-type: circle; 
}

.subsection__list {
  list-style-type: disc;
}

ol.subsection__list {
  list-style-type: decimal;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
