{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="index">Service list index</a></li>
      <li><a href="">Business</a></li>
      <li><a href="">Doing business abroad</a></li>
      <li><a href="">Exporting</a></li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">
         <h2 class="heading-medium"> <a href="exporting_short_service_list">Part of: Exporting</a></h2>
      <h1 class="heading-xlarge">Export licences and special rules</h1>

      <p>You must have a licence, or follow special rules to export some things.</p>

    <div>
    <h2 class="heading-medium">Check if you need a licence or to follow special rules:</h2>
      <ul>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-agricultural-machinery.html">Agricultural machinery</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-permission-to-import-or-export-alcohol-fuel-or-tobacco-excise-goods.html">Alcohol, fuel and tobacco</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-furs-skins-and-other-animal-products.html">Animal products and by-products</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-animal-semen-ova-embryos.html">Animal semen, ova and embryos</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-cultural-goods.html">Art works, antiques and culturally significant goods</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-chemicals.html">Chemicals</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-drugs-and-medicines.html">Drugs and medicines</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-food-and-agricultural-products.html">Food and agricultural products</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-food-for-animals.html">Food for animals</a></li>
          <li><a href="Diamonds, gold and precious metals">Diamonds, gold and precious metals</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-law-enforcement-and-torture-goods.html">Goods that could be used for restraint, repression or inhumane treatment</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-horses-ponies.html">Horses and ponies</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-circus-endangered-research-animals.html">Live animals</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-fish-shellfish.html">Live fish and shellfish</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-livestock-poultry.html">Livestock and poultry</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/exporting-luxury-goods-north-korea.html">Luxury goods to North Korea and Syria</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-medical-devices.html">Medical devices</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-arms-military-or-dual-use-goods-and-services.html">Military or dual use goods, services and technology</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-energy-related-goods-technology-and-services.html">Oil and gas related goods and services to Russia</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-cfcs-and-ozone-depleting-gases.html">Ozone depleting substances and F-gases</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-plants-seeds-bulbs-and-woods.html">Plants, seeds, bulbs and wood</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-certificate-to-export-endangered-products-of-animal-origin.html">Get a certificate to export products made from endangered animals</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-radioactive-substances.html">Radioactive substances</a></li>
          <li><a href="https://govuk-import-export.herokuapp.com/guidance/get-a-licence-to-export-waste.html">Waste</a></li>
      </ul>  
    </div>


  </div>


    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Topic related links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
      <a href="#">Link to topic related service</a><br>
            <a href="#">Link to topic related content</a><br>
            <a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span</a>
        </nav>
      </aside>
    </div>
  </div>
  </span>

</main>

{% endblock %}
