{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="index">Service list index</a></li>
      <li><a href="">Education</a></li>
      <li><a href="">Early Years</a></li>
      <li>Childcare</li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">
  		<h1 class="heading-xlarge">Get help paying for childcare</h1>

  		<p>There are various options to get help paying for childcare depending on your situation.</p>
     
    <div>
      <h2 class="heading-medium">Guidance</h2>
      <h2 class="blue-box"><a href="https://www.gov.uk/help-with-childcare-costs/approved-childcare">Help paying for childcare</a></h2>
    </div>

		<div>
      <ul>
        <li class="heading-medium">Check if your are using eligible childcare</li>
            <p>You must be using "approved childcare" to get help. Check if a childcare provider is approved or search for one in:</p>
            <ul>
              <li><a href="https://www.gov.uk/find-ofsted-inspection-report">England</a></li>
              <li><a href="http://cssiw.org.uk/find-a-care-service/service-directory/?lang=en#/find-a-care-service/service-directory/?service=CDC&lang=en">Wales</a></li>
              <li><a href="http://www.careinspectorate.com/">Scotland</a></li>
              <li><a href="https://www.nidirect.gov.uk/articles/early-years-teams">Northern Ireland</a></li>
            </ul>   


        <li class="heading-medium">Get free childcare</li>
            <p>All 3 and 4-year-olds in England are entitled to 570 hours of free early education or childcare a year. This is often taken as 15 hours each week for 38 weeks of the year.</p>

            <p>Some 2-year-olds are also eligible.</p>    
            <ul>
              <li><a href="https://www.gov.uk/find-free-early-education">Find free early education and childcare</a></li>
            </ul>      
 
        <li class="heading-medium">Get help with childcare if you are working</li>
            <p></p>  
            <ul>
              <li><a href="https://www.gov.uk/childcare-calculator">Check what help you could get with childcare costs</a></li>
              <li><a href="Tax_credits_short_service">Tax credits</a></li>
              <p>If you are eligible for tax credits you can get an extra amount for help with childcare.</p>
              <li><a href="#">Universal credit</a></li>
              <p>If you are eligible for universal credit you can get an extra amount for help with childcare.</p>
              <li><a href="https://www.gov.uk/childcare-vouchers-better-off-calculator">Childcare vouchers: better off calculator</a></li>
              <p>If you are offered vouchers through your employer. Childcare vouchers may affect the amount of tax credits you get.</p>
            </ul>  


        <li class="heading-medium">Get help with childcare if you're a student</li>
            <p>If you are a student with children you may be eligible for one of the following:</p>    
			      <ul>
		  	      <li><a href="https://www.gov.uk/discretionary-learner-support/overview">Discretionary learner support</a></li>
              <p>If you are 20 or over and in a further education course</p>
		 	        <li><a href="https://www.gov.uk/childcare-grant">Childcare grant</a></li>
              <p>If you are in full time higher education in England</p>
		  	      <li><a href="https://www.gov.uk/care-to-learn">Care to learn</a></li>
              <p>If you are under 20 and in school, 6th form or college</p>
			      </ul>  

      </ul> 
		</div>


	</div>


    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Topic related links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
			<a href="#">Link to topic related service</a><br>
            <a href="#">Link to topic related content</a><br>
            <a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span</a>
        </nav>
      </aside>
  	</div>
  </div>
  </span>

</main>

{% endblock %}
