{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">
  		<h1 class="heading-xlarge">Index of service list pages</h1>

  		<p>These are task lists and sub task lists that make up services.</p>

		<div>
    <h2 class="heading-medium">Types of service lists:</h2>
			<ul>
		  	  <li><a href="long_service_list">Long service list</a></li>
		 	    <li><a href="task_within_long_service">Task within long service</a></li>
		  	  <li><a href="short_service_list">Short service list</a></li>
          <li><a href="multi_scheme_list">Multi scheme list</a></li>
          <li><a href="learning_to_drive_short_service_list">Learning to drive short service list</a></li>
          <li><a href="assessing_students_short_service_list">Assessing students short service list</a></li>
          <li><a href="exporting_short_service_list">Exporting</a></li>
          <li><a href="get_help_childcare_multi_scheme_list">Get help paying for childcare</a></li>
          <li><a href="register_childminder_short_service_list">Register as a childminder (example with acordion)</a></li>

			</ul>  
		</div>

	  </div>

    <div class="column-third">
  	</div>
  </div>
 </span>

</main>

{% endblock %}
