{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="index">Service list index</a></li>
      <li><a href="">Driving and transport</a></li>
      <li><a href="">Driving tests and learning to drive</a></li>
    </ol>
  </div>

<div class="grid-row">

  <div class="column-two-thirds">
      <h1 class="heading-xlarge">Learn to drive a car</h1>

      <p>You must check your eligibility and pass a test to get a driving licence to drive on the roads in the UK.</p>
      <p>Statutory guidance for learner drivers.</p>
      
    <div>
      <h2 class="heading-medium">Overview</h2>
      <h2 class="blue-box"><a href="https://www.gov.uk/driving-lessons-learning-to-drive">Driving lessons and learning to drive</a></h2>
    </div>

    <div>
      <ol>
        <li class="heading-medium">Check you're allowed to drive</li>
          <p>You and your vehicle must comply with certain rules before you are allowed to learn to drive on the road in the UK.</p>
            <ul>
              <li><a href="https://www.gov.uk/legal-obligations-drivers-riders">Legal obligations of drivers and riders</a></li>
              <li><a href="https://www.gov.uk/vehicles-can-drive">Vehicles you can drive</a></li>
              <li><a href="https://www.gov.uk/driving-eyesight-rules">Driving eyesight rules</a></li>
            </ul>   
        
        <li class="heading-medium">Get a provisional driving licence</li>
          <p>You must have a provisional driving licence in order to learn to drive on the road in the UK. When you pass your test you will get a full driving licence.</p>
            <ul>
              <li><a href="https://www.gov.uk/apply-first-provisional-driving-licence">Apply for your first provisional driving licence</a></li>
              <li><a href="https://www.gov.uk/driving-licence-fees">Driving licence fees</a></li>
              <li><a href="https://www.gov.uk/track-your-driving-licence-application">Track your driving licence application</a></li>
              <li><a href="https://www.gov.uk/dvlaforms">Order DVLA forms</a></li>
            </ul>  
          
          <li class="heading-medium">Take driving lessons</li>
          <p>You can take lessons with a driving instructor to help you prepare for your driving tests.</p>
            <ul>
              <li><a href="https://www.gov.uk/driving-lessons-learning-to-drive">Driving lessons and learning to drive</a></li>
              <li><a href="https://www.gov.uk/find-driving-schools-and-lessons">Find driving schools, lessons and instructors</a></li>
              <li><a href="https://www.gov.uk/view-driving-licence">View or share your driving licence information</a></li>
              <li><a href="https://www.gov.uk/complain-about-a-driving-instructor">Complain about a driving instructor</a></li>
              <li><a href="https://www.gov.uk/report-an-illegal-driving-instructor">Report an illegal driving instructor</a></li>
            </ul>

          <li class="heading-medium">Prepare for your theory test.</li>
          <p>You must pass your driving theory test before you can book your practical driving test.</p>
            <ul>
              <li><a href="https://www.gov.uk/theory-test">Theory test: cars</a></li>
              <li><a href="https://www.gov.uk/take-practice-theory-test">Take a practice theory test</a></li>
              <li><a href="https://www.gov.uk/guidance/the-highway-code">The Highway Code</a></li>
              <li><a href="https://www.gov.uk/find-theory-test-pass-number">Find your lost theory test pass certificate number</a></li>
            </ul>

          <li class="heading-medium">Book and manage your theory test</li>
          <p></p>
            <ul>
              <li><a href="https://www.gov.uk/book-theory-test">Book your theory test</a></li>
              <li><a href="https://www.gov.uk/change-theory-test">Change your theory test appointment</a></li>
              <li><a href="https://www.gov.uk/check-theory-test">Check your theory test appointment details</a></li>
              <li><a href="https://www.gov.uk/cancel-theory-test">Cancel your theory test</a></li>
              <li><a href="https://www.gov.uk/find-theory-test-centre">Find a theory test centre</a></li>
              <li><a href="https://www.gov.uk/driving-test-cost">Driving test costs</a></li>
            </ul>

          <li class="heading-medium">Prepare for your driving test</li>
          <p>To pass the driving test you must be able to drive safely in different road and traffic conditions, and show that you know the Highway Code by the way you drive.</p>
            <ul>
              <li><a href="https://www.gov.uk/book-driving-test">Driving test: cars</a></li>
              <li><a href="https://www.gov.uk/government/publications/car-show-me-tell-me-vehicle-safety-questions">'Show me, tell me' questions: car driving test</a></li>
            </ul>

          <li class="heading-medium">Book and manage your driving test</li>
          <p>You can book your driving test when you have passed your theory test.</p>
            <ul>
              <li><a href="https://www.gov.uk/book-driving-test">Book your driving test</a></li>
              <li><a href="https://www.gov.uk/change-driving-test">Change your driving test appointment</a></li>
              <li><a href="https://www.gov.uk/check-driving-test">Check your driving test appointment details</a></li>
              <li><a href="https://www.gov.uk/cancel-driving-test">Cancel your driving test</a></li>
              <li><a href="https://www.gov.uk/find-driving-test-centre">Find a driving test centre</a></li>
              <li><a href="https://www.gov.uk/driving-test-cost">Driving test costs</a></li>
              <li><a href="https://www.gov.uk/government/publications/application-for-refunding-out-of-pocket-expenses">Apply for a refund of expenses for a cancelled driving test</a></li>
              <li><a href="https://www.gov.uk/report-driving-test-impersonation">Report someone impersonating driving test candidates</a></li>
            </ul>

          <li class="heading-medium">When you pass</li>
          <p>You can apply for your full driving licence as soon as you’ve passed your practical driving test. You can also do additional training to improve your skills and drive more safely.</p>
            <ul>
              <li><a href="https://www.gov.uk/apply-for-your-full-driving-licence">Apply for your full driving licence</a></li>
              <li><a href="https://www.gov.uk/pass-plus">Pass Plus</a></li>
            </ul>

      </ol>  
    </div>


  </div>


    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Topic related links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
      <a href="#">Learn to ride a motorbike</a><br>
            <a href="#">Learn to drive a bus or lorry</a><br>
            <a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span</a>
        </nav>
      </aside>
    </div>
  </div>
  </span>

</main>

{% endblock %}
