{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="index">Service list index</a></li>
      <li><a href="">Parent topic</a></li>
      <li><a href="">Child topic</a></li>
      <li>Child topic</li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">
  		<h1 class="heading-xlarge">Long complex service</h1>

  		<p>Introductory context about the service. These services are made up of many complex tasks, which makes them too big to contain on one page.</p>
  	  <div>
		<h2 class="blue-box">Service overview content page</h2>
	  </div>

		<div>
    <h2 class="heading-medium">You must do these tasks in this order:</h2>
			<ol>
		  	  <li><a href="task_within_long_service">Linear task</a></li>
            <p>Introductory text about task</p>
		 	    <li><a href="task_within_long_service">Linear task</a></li>
            <p>Introductory text about task</p>
		  	  <li><a href="task_within_long_service">Linear task</a></li>
            <p>Introductory text about task</p>
			</ol>  
		</div>

    <div>
    <h2 class="heading-medium">You must do these tasks:</h2>
      <ul>
          <li><a href="task_within_long_service">Non-linear task</a></li>
            <p>Introductory text about task</p>
          <li><a href="task_within_long_service">Non-linear task</a></li>
            <p>Introductory text about task</p>
          <li><a href="task_within_long_service">Non-linear task</a></li>
            <p>Introductory text about task</p>
      </ul>  
    </div>

	</div>


    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Topic related links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
			<a href="#">Link to topic related service</a><br>
            <a href="#">Link to topic related content</a><br>
            <a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span</a>
        </nav>
      </aside>
  	</div>
  </div>
  </span>

</main>

{% endblock %}
