{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="index">Service list index</a></li>
      <li><a href="">Parent topic</a></li>
      <li><a href="">Child topic</a></li>
      <li>Child topic</li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">
  		<h1 class="heading-xlarge">Where many schemes serve the same user need</h1>

  		<p>In some cases there are multiple schemes that answer the same need, and you will be eligible for one or multiple benefits depending on your situation, e.g. help paying for child care.</p>
     
    <div>
      <h2 class="blue-box"><a href="">Service overview content page</a></h2>
    </div>

		<div>
    <h2 class="heading-medium">Choose the scheme relevant to your situation:</h2>
			<ul>
		  	  <li><a href="">Scheme 1</a></li>
            <p>If your situation is X</p>
		 	    <li><a href="">Scheme 2</a></li>
            <p>If your situation is Y</p>
		  	  <li><a href="">Scheme 3</a></li>
            <p>If your situation is Z</p>
			</ul>  
		</div>


	</div>


    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Topic related links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
			<a href="#">Link to topic related service</a><br>
            <a href="#">Link to topic related content</a><br>
            <a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span</a>
        </nav>
      </aside>
  	</div>
  </div>
  </span>

</main>

{% endblock %}
