{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Education</a></li>
      <li><a href="">Early years</a></li>
      <li><a href="">Childcare</a></li>
    </ol>
  </div>

<div class="grid-row">

  <div class="column-two-thirds">
      <h1 class="heading-xlarge">Become a childminder or childcare provider</h1>

      <p>You must register if you want to look after children in the UK. What you need to do depends on where you live and want to care for children.</p>
      

    <div>
      <ul>
        <li class="heading-medium">Check what you need to do</li>
          <p></p>
            <ul>
              <li><a href="register_childminder_england_short_service_list">Register as a childminder (England)</a></li>
              <li><a href="https://www.gov.uk/registering-as-childminder-scotland">Register as a childminder (Scotland)</a></li>
              <li><a href="http://cssiw.org.uk/providingacareservice/register/child-minder/?lang=en">Register as a childminder (Wales)</a></li>
              <li><a href="https://www.gov.uk/register-as-childminder-northern-ireland">Register as a childminder (Northern Ireland)</a></li>
            </ul>   
      </ul>  
    </div>


  </div>


    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Topic related links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
      <a href="#">Importing</a><br>
            <a href="#">Take goods out of the UK temporarily for business</a><br>
            <a href="#">Take goods with you to sell abroad</a><br>
            <a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span</a>
        </nav>
      </aside>
    </div>
  </div>
  </span>

</main>

{% endblock %}
