{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Education</a></li>
      <li><a href="">Early years</a></li>
      <li><a href="">Childcare</a></li>
    </ol>
  </div>

<div class="grid-row">

  <div class="column-two-thirds">
    <h2 class="heading-medium"> <a href="register_childminder_short_service_list">Part of: Become a childminder or childcare provider</a></h2>
    <h1 class="heading-xlarge">Register as a childminder in England</h1>
    <div>
      <p>You must register with Ofsted or a childminder agency if you want to be paid to look after children under 8 for more than 2 hours a day in England.</p>
    </div>

    <div>
      <p>The process to register can take from 4 to 12 weeks.</p>
    </div>

      
    <div>
      <h2 class="heading-medium">Guidance</h2>
      <h2 class="blue-box"><a href="https://www.gov.uk/register-childminder-childcare-provider/after-you-apply">Register as a childminder or childcare provider (England)</a></h2>
    </div>

    <div class="js-hidden" data-module="accordion-with-descriptions">
      <div class="subsection-wrapper">

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_01">Check if you are eligible</h2>
          </div>

          <div class="subsection__content" id="subsection_content_01">
            <p>You will need to fit certain criterea to get on the early years register.</p>

            <ul class="subsection__list">
              <li class="subsection__list-item"><a href="https://www.gov.uk/legal-right-work-uk">Check if someone can work in the UK</a></li>
              <li class="subsection__list-item"><a href="https://www.gov.uk/government/publications/become-a-registered-early-years-or-childcare-provider-in-england">Become a registered early years or childcare provider in England</a></li>
              <li class="subsection__list-item"><a href="https://www.gov.uk/government/publications/applying-to-waive-disqualification-early-years-and-childcare-providers">Applying to waive disqualification: early years and childcare providers</a></li>
            </ul>
          </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_02">Contact your local council</h2>
          </div>

          <div class="subsection__content" id="subsection_content_02">
            <p>You must contact your local council before you can start applying to be a childminder. Your local council will often be your main point of contact when becoming a childminder.</p>

            <ul class="subsection__list">
              <li class="subsection__list-item"><a href="https://www.gov.uk/find-registered-childminder">Find a registered childminder</a></li>
            </ul>
          </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_03">Get a criminal history check</h2>
          </div>

          <div class="subsection__content" id="subsection_content_03">
            <p>Before you apply you must get a criminal record check for yourself and anyone else who will be on the premesis where you are looking after children. This is to ensure the safety of children in your care. This criminal check is called a DBS check, previously known as a CRB check.</p>

            <ul class="subsection__list">
              <li class="subsection__list-item"><a href="https://www.gov.uk/disclosure-barring-service-check/overview">DBS checks (previously CRB checks)</a></li>
              <li class="subsection__list-item"><a href="https://ofsteddbsapplication.co.uk/step-one.aspx">Get a DBS check through Ofsted</a></li>
              <li class="subsection__list-item"><a href="https://www.gov.uk/government/publications/disclosure-and-barring-service-dbs-checks-for-childcare-providers-who-register-with-ofsted">Disclosure and Barring Service (DBS) checks: childcare providers</a></li>
            </ul>
          </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_04">Get a health check</h2>
          </div>

          <div class="subsection__content" id="subsection_content_04">
            <p>You must complete a health declaration and take it to your GP. This will include information about any health condition that may affect your ability to safely care for children.</p>

            <ul class="subsection__list">
              <li class="subsection__list-item"><a href="https://www.gov.uk/government/publications/become-a-childcare-provider-health-declaration">Become a childcare or children's social care provider: health declaration</a></li>
            </ul>
          </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_05">Do childminder training</h2>
          </div>

          <div class="subsection__content" id="subsection_content_05">
            <p>You must do training to look after children. You can get information about this through your local council.</p>

            <ul class="subsection__list">
              <li class="subsection__list-item"><a href="https://www.gov.uk/find-registered-childminder">Find a registered childminder</a></li>
            </ul>
          </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_06">Learn about the Early Years Foundation Stage</h2>
          </div>

          <div class="subsection__content" id="subsection_content_06">
            <p>Childcare providers in England must follow the statutory guidance laid out in the Early Years Foundation Stage Framework. You should familiarise yourself with this before applying.</p>

            <ul class="subsection__list">
              <li class="subsection__list-item"><a href="https://www.gov.uk/early-years-foundation-stage">Early years foundation stage</a></li>
              <li class="subsection__list-item"><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">Early years (under 5s) foundation stage framework (EYFS)</a></li>
            </ul>
          </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_07">Do first aid training</h2>
          </div>

          <div class="subsection__content" id="subsection_content_07">
            <p>You need to do a 12-hour first aid training course with an accredited training provider if you are looking after children 5 years old and younger.</p>
            </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_08">Apply to Ofsted</h2>
          </div>

          <div class="subsection__content" id="subsection_content_08">
            <p>You must apply online with Ofsted. You will need two people to write references recommending you, your DBS checks and training certificates.</p>

            <ol class="subsection__list">
              <li class="subsection__list-item"><a href="https://www.gov.uk/government-gateway">Get a Government Gateway account</a></li>
              <li class="subsection__list-item"><a href="https://online.ofsted.gov.uk/OnlineOfsted/default.aspx">Apply online</a></li>
              <li class="subsection__list-item"><a href="https://www.gov.uk/pay-ofsted-registration-annual-fee">Pay your registration and annual fee to Ofsted</a></li>
            </ol>
          </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_09">Get your premesis inspected by Ofsted</h2>
          </div>

          <div class="subsection__content" id="subsection_content_09">
            <p>Find out how to prepare for your registration visit in part 2 of the registration handbook.</p>

            <ul class="subsection__list">
              <li class="subsection__list-item"><a href="https://www.gov.uk/government/publications/become-a-registered-early-years-or-childcare-provider-in-england">Become a registered early years or childcare provider in England</a></li>
            </ul>
          </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_10">Get insured</h2>
          </div>

          <div class="subsection__content" id="subsection_content_10">
            <p>You need to have public laibility insurance before you open for business. You can get this from many providers.</p>
          </div>
        </div>

        <div class="subsection">
          <div class="subsection__header">
            <h2 class="subsection__title" id="section_11">Register your business</h2>
          </div>

          <div class="subsection__content" id="subsection_content_11">
            <p>You must register your business and pay tax on the money you earn.</p>

            <ul class="subsection__list">
              <li class="subsection__list-item"><a href="https://www.gov.uk/new-business-register-for-tax">Register your new business with HMRC</a></li>
              <li class="subsection__list-item"><a href="https://www.gov.uk/self-assessment-tax-returns/who-must-send-a-tax-return">Self Assessment tax returns</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    </div>


    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Topic related links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <a href="#">Register as a childminder (Scotland)</a><br>
          <a href="#">Register as a childminder (Wales)</a><br>
          <a href="#">Register as a childminder (Northern Ireland)</a><br>
          <a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span</a>
        </nav>
      </aside>
    </div>
  </div>

</main>

{% endblock %}
