{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Education</a></li>
      <li><a href="">Early Years</a></li>
      <li>Childcare</li>
    </ol>
  </div>

<div class="grid-row">

  <div class="column-two-thirds">
    <h2 class="heading-medium"> <a href="get_help_childcare_multi_scheme_list">Part of: Get help paying for childcare</a></h2>
      <h1 class="heading-xlarge">Get working tax credits for childcare</h1>

      <p>If you are eligible for tax credits you can get an extra amount for help with childcare costs.</p>
      
    <div>
      <h2 class="heading-medium">Overview</h2>
      <h2 class="blue-box"><a href="https://www.gov.uk/working-tax-credit">Working Tax Credit</a></h2>
    </div>

    <div>
      <ol>
        <li class="heading-medium">Check if your are using eligible childcare</li>
            <p>You must be using "approved childcare" to get help. Check if a childcare provider is approved or search for one in:</p>
            <ul>
              <li><a href="https://www.gov.uk/find-ofsted-inspection-report">England</a></li>
              <li><a href="http://cssiw.org.uk/find-a-care-service/service-directory/?lang=en#/find-a-care-service/service-directory/?service=CDC&lang=en">Wales</a></li>
              <li><a href="http://www.careinspectorate.com/">Scotland</a></li>
              <li><a href="https://www.nidirect.gov.uk/articles/early-years-teams">Northern Ireland</a></li>
            </ul> 

        <li class="heading-medium">Check what you could get</li>
            <p>You will need to know how much you spend on childcare, your income and any benefits you or your child get.</p>
            <ul>
              <li><a href="https://www.gov.uk/childcare-calculator">Check what help you could get with childcare costs</a></li>
              <li><a href="">Work out your childcare costs</a></li>
              <li><a href="">Work out your income</a></li>
              <li><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries">Tax credits: general enquiries</a></li>
            </ul> 

        <li class="heading-medium">Check if tax credits are right for you</li>
            <ul>
              <li><a href="https://www.gov.uk/how-tax-credits-affect-other-benefits">How tax credits and other benefits affect each other</a></li>
                <p>If you receive other benefits.</p>
              <li><a href="https://www.gov.uk/childcare-vouchers-better-off-calculator">Childcare vouchers: better off calculator</a></li>
              	<p>If you use childcare vouchers through your employer.</p>
            </ul>  

        <li class="heading-medium">Find out what you need to do to claim</li>
            <ul>
              <li><a href="https://www.gov.uk/claim-tax-credits">How to claim tax credits</a></li>
              <li><a href="https://www.gov.uk/getting-help-with-your-tax-credits-claim">Claiming and dealing with tax credits for someone else</a></li>
            </ul> 
        
        <li class="heading-medium">Claim tax credits</li>
            <ul>
              <li><a href="https://www.gov.uk/qualify-tax-credits">Order a claim form online</a></li>
              <li><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries">Tax credits: general enquiries</a></li>
              <li><a href="https://www.gov.uk/correct-mistake-tax-credits-claim-form">Correct a mistake on your claim form</a></li>
              <li><a href="https://www.gov.uk/tax-credits-appeals-complaints">Appeal a decision or make a complaint</a></li>
            </ul> 

        <li class="heading-medium">Receiveing payments</li>
            <ul>
              <li><a href="https://www.gov.uk/how-tax-credits-affect-other-benefits">Tax credits: your payment dates</a></li>
              <li><a href="https://www.gov.uk/tax-credits-overpayments">Tax credits overpayments</a></li>
            </ul> 
        
        <li class="heading-medium">Manage your tax credits</li>
            <ul>
              <li><a href="https://www.gov.uk/manage-your-tax-credits">Manage your tax credits</a></li>
              <li><a href="https://www.gov.uk/changes-affect-tax-credits">Changes that affect your tax credits</a></li>
              <li><a href="https://www.gov.uk/renewing-your-tax-credits-claim">How to renew tax credits</a></li>
              <li><a href="https://www.gov.uk/end-tax-credits-claim">End your tax credits</a></li>
            </ul> 

      </ol>  
    </div>


  </div>


    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Topic related links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
      <a href="#">Link to topic related service</a><br>
            <a href="#">Link to topic related content</a><br>
            <a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span</a>
        </nav>
      </aside>
    </div>
  </div>
  </span>

</main>

{% endblock %}
